body{
	color: #999;
	background-image: url("back.jpeg");
	background-attachment: fixed;
	font-family: 'Roboto' , sans-serif;
	background-size: cover;
}

.form-control{
	min-height: 42px;
	box-shadow: none;
	border-color: #e1e1e1;

}
.form-control:focus{
	border-color: #80cb82;
}
.form-control , btn{
	border-radius: 3px;
}

.form-header{
	margin: -30px -30px 20px;
	padding: 30px 30px 10px;
	text-align: center;
	background:#00cb83;
	border-bottom: 1px solid #eee;
	color: #fff;
}


.form-header{
	font-size: 34px;
	font-weight: bold;
	margin: 0px 0px 10px;
	line-height: normal;
	font-family: 'Courgette' , sans-serif;


}

.forgot{
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;

}

.forgot form{
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background:$f0f0f0;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	padding: 30px;
}

.forgot  .form-group{
	margin-bottom: 20px;

}

.forgot label{
	font-weight: normal;
	font-size: 14px;
}

.forgot .btn{
	font-size: 16px;
	font-weight: bold;
	background: #00cb82;
	border:none;
	min-width: 200px;

}


.forgot .btn:hover {
	background: #00b074;
	outline: none;
}

.forgot .btn:focus{
	background: #00b074;
	outline: none;
}

.forgot a{
	color: #08cb80;
}

.forgot:hover{
	text-decoration: none;
	opacity: 0.7;
}